.margin-top-0 {
  margin-top: 0 !important;
}
.navbar-item .icon {
  color: $primary;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}
