@import "~bulma";
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
    .blog-list-item .featured-thumbnail {
      flex-basis: 50%;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
    .blog-list-item header {
      display: block;

      .blog-list-item .featured-thumbnail {
        text-align: center;
        max-width: 70%;
        margin: 0 0 1em;
      }
    }
  }
}
