.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 18px;
  line-height: 1.25;
  background-color: $accent-color;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  color: $primary;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 2px $primary;
  box-shadow: inset 0 0 0 2px $primary;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
