//Menu overrides
.menu-label {
  font-size: 1em !important;
  text-align: left;
}
.menu-list {
  list-style: none !important;
  text-align: left;
}
.social {
  padding: 2em;
  a {
    padding: 0.5em 0.5em 0.3em 0.5em;
    border-radius: 1em;
    background-color: $white-ter;
    margin: 0.5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline;
  }
}
